<h2>Listing nodes</h2>
<br/>
  <div class="input-prepend">
    <%= link_to 'New Node', new_node_path, :class => "btn" %>
  </div>
<br/>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Logs Count</th>
    <th>Confin</th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= link_to node.name, node_line_items_path(:node_id => node) %></td>
    <td><%= node.description %></td>
	<td><%= node.line_items.count %></td>
    <td>
	<%= link_to 'Show', node_line_items_path(:node_id => node) %> |
    <%= link_to 'Edit', edit_node_path(node) %> |
    <%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




