<div>
<%= form_for [@node, @log], :class => "form-horizontal" do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>
      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
	<label>Matches</label>
	<div class="controls">
    	<%= f.text_field :title %>
		<span class="help-block">Example *.log app[/\d+/].tmp, Values separated by spaces.</span>
	</div>
  </div>
  <div class="control-group">
    <label>File Path</label>
    <%= f.text_field :filepath %>
  </div>
  <div class="control-group">
	<label>Recurse</label>
	<%= f.select :recurse, Log::RECURSE_TYPES, :selected => 0 %>
  </div>
  <div class="control-group">
	<label>File Time</label>
	<%= f.select :file_time, Log::FILETIME_TYPES, :selected => 1 %>
  </div>
  <div class="control-group">
	<lable>Operate Type</label><br>
	<%= f.select :operate_type, Log::OPERATE_TYPES, :selected=> 0 %>
  </div>
  <br/>
  <div class="input-append">
    <label>File Size</label>
    <%= f.text_field :file_size, :placeholder=>"Input values or empty"%>
	<span class="help-block">Example 10b(byte), 10k(KB), 10m(MB), 10g(GB), 10t(TB)</span>
  </div>
  
  <div class="input-prepend">
    <label>File Age</label>
    <%= f.text_field :reserve_dates, :value => "1w" %>
	<span class="help-block">Example 3h(hours), 2d(days), 1w(weeks)</span>
  </div>
  <div class="control-group">
    <label>Cron</label>
    <%= f.time_select :cron_time, :include_blank => true, :width => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
