<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Log Files" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <%= link_to "Home", site_index_path,  :class => "brand" %>
	    <ul class="nav">
	      <li><%= link_to "Nodes List", nodes_path %></li>   
	    </ul>
	  </div>
	</div>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
